@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #292524;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway);
  --font-mono: var(--font-raleway);
  --font-raleway: var(--font-raleway);
  --font-kurale: var(--font-kurale);
  --font-forum: var(--font-forum);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}
